/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

a{
	color: #FFF;
}

body {
	height: 100%;
	overflow-x: hidden;
}

/*Основной блок*/

.wrapper {
	min-height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}


/*Позиционирование и стили шапки*/

header {
	max-width: 100%;
	background: #000;
	display: flex;
}

.header__logo {
	text-transform: uppercase;
	color: #FFF;
	text-shadow: rgb(255 255 255) 5px 0 10px;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 12%;
}

.nav__header {
	margin-top: 30px;
	margin-left: 29%;
}

.topnav a {
	color: #FFF;
	text-shadow: rgb(255 255 255) 3px 0 10px;
	text-align: center;
	padding: 12px 16px;
	font-size: 20px;
	font-weight: bold;
	transition: .3s;
}

.location__user {
    border-bottom: 3px solid #fcac45;
	border-radius: 5px;
	background-color: rgb(255, 115, 0);
}

.topnav a:hover {
	border-bottom: 3px solid #fcac45;
	border-radius: 5px;
	background-color: rgb(255, 115, 0);
}

.topnav a.icon {
	display: none;
}

@media screen and (max-width: 1200px) {
	.nav__header {
		margin-left: 20%;
	}
}

@media screen and (max-width: 1105px) {
	.nav__header {
		margin-left: 10%;
	}
}

@media screen and (max-width: 1010px) {
	.topnav a {
		display: none;
	}
	.topnav a.icon {
		float: right;
		margin-top: -17px;
		display: block;
		color: #FFF;
	}
	.nav__header {
		width: 100%;
	}
	.topnav.responsive {
		position: relative;
		top: 50px;
		left: -120px;
	}
	header .topnav.responsive {
		height: 340px;
	}
	.topnav.responsive a.icon {
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a {
		position: relative;
		float: none;
		display: block;
		text-align: left;
	}
}



/*Заголовок сайта*/

.main {
	flex: 1 1 auto;
	min-height: 100vh;
	background: url(../img/header_logo/main__screen.png) no-repeat;
	background-size: cover;
	background-position: center center;  
}

@media all and (max-width: 1250px) {
	.main {
		min-height: 83vh;
	}
}

.mainPage {
	margin: 0;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 100px; 
	text-transform: uppercase;
	font-family: 'Mulish', sans-serif;
    text-shadow: rgb(255, 255, 255) 5px 0 15px;
}


@media all and (max-width: 1250px) {
	.mainPage{
		font-size: 40px;
	}
}

/*Позиционирование панелей и задний фон*/

.main__info {
	max-width: 100%;
	min-height: 100vh;
	background: url(../img/header_logo/background_header.png);
}

.main__info__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 70px;
	min-height: 100vh;
	background: rgba(65, 42, 62, 0.349);
	/*background: rgba(160, 27, 27, 0.219);
	background: rgba(117, 82, 82, 0.219);
	background: rgba(82, 54, 79, 0.438);
	background: rgba(65, 42, 62, 0.349);*/
}

@media all and (max-width: 1250px) {
	.main__info__container {
		flex-direction: column;
		align-items: center;
	}
}

/*Информационные панели и их анимации*/

.info__pannel1 {
	max-width: 550px;
	height: 500px;
	text-align: center;
	border: 3px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	transition: .2s;
}

@media all and (max-width: 1250px) {
	.info__pannel1{
		max-width: 350px;
		margin-bottom: 70px;
	}
}


.info__pannel1:hover {
	background-color: rgb(255, 255, 255);
	transform: scale(1.1);
	cursor: pointer;
}


.info__pannel2 {
	max-width: 450px;
	height: 500px;
	text-align: center;
	border: 3px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	margin-left: 50px;
	transition: .2s;
}

@media all and (max-width: 1250px) {
	.info__pannel2{
		max-width: 350px;
		margin-bottom: 70px;
		margin-left: 0px;
	}
}


.info__pannel2:hover {
	background-color: rgb(255, 255, 255);
	transform: scale(1.1);
	cursor: pointer;
}

.info__pannel3 {
	max-width: 500px;
	height: 500px;
	text-align: center;
	border: 3px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	margin-left: 50px;
	transition: .2s;
}

@media all and (max-width: 1250px) {
	.info__pannel3{
		max-width: 350px;
		margin-bottom: 70px;
		margin-left: 0px;
	}
}

.info__pannel3:hover {
	background-color: rgb(255, 255, 255);
	transform: scale(1.1);
	cursor: pointer;
}

.info__pannel_gif3 {
	display: flex;
	justify-content: center;
	width: 350px;
	height: 400px;
	margin-left: 100px;
	margin-bottom: 20px;
	object-fit: contain;
}

@media all and (max-width: 1250px) {
	.info__pannel_gif3{
		max-width: 200px;
	}
}

.info__pannel_gif2 {
	display: flex;
	justify-content: center;
	width: 400px;
	height: 400px;
	margin-left: 40px;
	margin-bottom: 20px;
	object-fit: contain;
}

@media all and (max-width: 1250px) {
	.info__pannel_gif2{
		max-width: 300px;
	}
}

.info__pannel_gif1 {
	display: flex;
	justify-content: center;
	width: 500px;
	height: 350px;
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
	object-fit: contain;
}

@media all and (max-width: 1250px) {
	.info__pannel_gif1{
		max-width: 300px;
		margin-left: 25px;
	}
}

.info_p_h {
	font-size: 40px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	font-family: 'Mulish', sans-serif;
}

.separation_strip {
	color: #FFF;
}

.main__info__text__container {
	display: flex;
	justify-content: center;
	width: 365px;
	height: 200px;
	margin-top: 20px;
	margin-left: 89px;
}

.main__info__text__container2-3 {
	display: flex;
	justify-content: center;
	width: 365px;
	height: 200px;
	margin-top: 20px;
	margin-left: 65px;
}

.main__info__text {
	color: #FFF;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}

@media all and (max-width: 1250px) {
	.main__info__text{
		visibility: hidden;
	}
}

/*Footer*/

.footer {
	min-width: 100%;
	height: auto;
	background-color: #000;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
}

.footer a {
	color: white;
	font-size: 14px;
	margin-left: 10px;
}

footer nav a:hover {
	border-bottom: 1px solid white;
}

.footer__logo {
	padding-top: 20px;
	padding-bottom: 20px;
}

.social img {
	margin-left: 10px;
	margin-bottom: 10px;
}

.social img:hover {
	background: #494949;
	border-radius: 50%;
	cursor: pointer;
}