/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

a{
	color: #FFF;
}

body {
	height: 100%;
	overflow-x: hidden;
}

/*Основной блок*/

.wrapper {
	min-height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

/*Позиционирование и стили шапки*/

header {
	max-width: 100%;
	background: #000;
	display: flex;
}

.header__logo {
	text-transform: uppercase;
	color: #FFF;
	text-shadow: rgb(255 255 255) 5px 0 10px;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 12%;
}

.nav__header {
	margin-top: 30px;
	margin-left: 29%;
}

.topnav a {
	color: #FFF;
	text-shadow: rgb(255 255 255) 3px 0 10px;
	text-align: center;
	padding: 12px 16px;
	font-size: 20px;
	font-weight: bold;
	transition: .3s;
}

.location__user {
    border-bottom: 3px solid #fcac45;
	border-radius: 5px;
	background-color: rgb(255, 115, 0);
}

.topnav a:hover {
	border-bottom: 3px solid #fcac45;
	border-radius: 5px;
	background-color: rgb(255, 115, 0);
}

.topnav a.icon {
	display: none;
}

@media screen and (max-width: 1200px) {
	.nav__header {
		margin-left: 20%;
	}
}

@media screen and (max-width: 1105px) {
	.nav__header {
		margin-left: 10%;
	}
}

@media screen and (max-width: 1010px) {
	.topnav a {
		display: none;
	}
	.topnav a.icon {
		float: right;
		margin-top: -17px;
		display: block;
		color: #FFF;
	}
	.nav__header {
		width: 100%;
	}
	.topnav.responsive {
		position: relative;
		top: 50px;
		left: -120px;
	}
	header .topnav.responsive {
		height: 340px;
	}
	.topnav.responsive a.icon {
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a {
		position: relative;
		float: none;
		display: block;
		text-align: left;
	}
}

/*Заголовок сайта*/

.main {
	flex: 1 1 auto;
	min-height: 100vh;
	background: url(../img/services.png) no-repeat;
	background-size: cover;
	background-position: center center;  
}

@media all and (max-width: 1250px) {
	.main {
		min-height: 87vh;
	}
}

.mainPage {
	margin: 0;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 100px; 
	text-transform: uppercase;
	font-family: 'Mulish', sans-serif;
    text-shadow: rgb(255, 255, 255) 5px 0 15px;
}


@media all and (max-width: 1250px) {
	.mainPage{
		font-size: 40px;
	}
}

 /*Задний фон главное панели услуг*/

.main__services {
	max-width: 100%;
	background: url(./img/background__main__services.png);
}

@media all and (max-width: 1250px) {
	.main__services{
		height: 100%;
		flex-direction: column;
		align-items: center;
	}
}

.main__info__container1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 70px;
	min-height: 47vh;
}

@media all and (max-width: 1250px) {
	.main__info__container1 {
		flex-direction: column;
		align-items: center;
	}
}

.info__pannel1 {
    width: 500px;
    height: 450px;
    margin-right: 70px;
	margin-bottom: 50px;
	background-color: rgb(0, 0, 0);
    border: 2px solid #FFF;
	box-shadow: 2px 3px 5px 10px rgb(173, 176, 189);
}

@media all and (max-width: 1250px) {
	.info__pannel1 {
		width: 330px;
		height: 425px;
		margin-right: 0px;
		margin-bottom:  50px;
	}
}

.info__pannel2 {
    width: 500px;
    height: 450px;
    background-color: rgb(0, 0, 0);
	border: 2px solid #FFF;
	box-shadow: 2px 3px 5px 10px rgb(173, 176, 189);
}


@media all and (max-width: 1250px) {
	.info__pannel2 {
		width: 330px;
		height: 443px;
		margin-bottom: 50px;
	}
}

.main__info__container2 {
    display: flex;
	flex-direction: row;
	justify-content: center;
	min-height: 39vh;
}

@media all and (max-width: 1250px) {
	.main__info__container2 {
		flex-direction: column;
		align-items: center;
		min-height: 100%;
	}
}

.info__pannel3 {
    width: 500px;
	height: 450px;
    margin-right: 70px;
	margin-bottom: 40px;
    background-color: rgb(0, 0, 0);
	border: 2px solid #FFF;
	box-shadow: 2px 3px 5px 10px rgb(173, 176, 189);
}


@media all and (max-width: 1250px) {
	.info__pannel3 {
		width: 330px;
		height: 375px;
		margin-right: 0px;
		margin-bottom:  50px;
	}
}

.info__pannel4 {
    width: 500px;
    height: 450px;
    background-color: rgb(0, 0, 0);
	border: 2px solid #FFF;
	box-shadow: 2px 3px 5px 10px rgb(173, 176, 189);
}


@media all and (max-width: 1250px) {
	.info__pannel4 {
		width: 330px;
		height: 375px;
		margin-bottom: 30px;
	}
}

/*Заголовки на панелях*/

.services_p1 {
    height: 80px;
    background-color: rgba(214, 109, 109, .8);
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}

.services_p1_1 {
	position: absolute;
	height: 80px;
	background-color: rgba(214, 109, 109, 0.7);
	top: 110px;
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
}

@media all and (max-width: 1250px) {
	.services_p1_1 {
		height: 90px;
		top: 90px;
		font-size: 25px;
	}
}


.services_p2 {
    height: 80px;
    background-color: rgb(177, 113, 39);
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}

@media all and (max-width: 1250px) {
	.services_p2 {
		height: 110px;
	}
}

.services_p2_1 {
	position: absolute;
	height: 80px;
	background-color: rgb(177, 113, 39, .7);
	top: 110px;
	text-align: center;
	padding-top: 10px;
	font-size: 30px;
}

@media all and (max-width: 1250px) {
	.services_p2_1 {
		height: 100px;
		top: 80px;
		padding-top: 5px;
	}
}

.services_p3 {
    height: 60px;
    background-color: rgb(101, 138, 202);
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}

.services_p4 {
    height: 60px;
    background-color: rgb(91, 189, 107);
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}

/*Картинки на услугах*/


.services__img {
	position: relative;
}

.services__ico1 {
	width: 496px;
	height: 366px;
	opacity: .5;
}

@media all and (max-width: 1250px) {
	.services__ico1 {
		width: 328px;
		height: 340px;
	}
}

.services__ico2 {
	width: 498px;
	height: 368px;
	opacity: .5;
}

@media all and (max-width: 1250px) {
	.services__ico2 {
		width: 328px;
		height: 330px;
	}
}

.services__ico3 {
	width: 496px;
	height: 386px;
	opacity: .5;
}

@media all and (max-width: 1250px) {
	.services__ico3 {
		width: 326px;
		height: 311px;
	}
}

.services__ico4 {
	width: 497px;
	height: 387px;
	opacity: .5;
}

@media all and (max-width: 1250px) {
	.services__ico4 {
		width: 326px;
		height: 311px;
	}
}


/*Основной текст на панелях*/

.services__info1_1 {
	position: absolute;
	left: 100px;
	top: 0;
    font-size: 30px;
    padding-top: 20px;
	color: rgb(255, 255, 255);
	text-shadow: rgb(255 255 255) 3px 0 10px;
}

@media all and (max-width: 1250px) {
	.services__info1_1 {
		font-size: 23px;
		left: 20px;
	}
}

.services__info1_2 {
	position: absolute;
	left: 100px;
	top: 200px;
    font-size: 30px;
    padding-top: 20px;
	color: rgb(255, 255, 255);
	text-shadow: rgb(255 255 255) 3px 0 10px;
}

@media all and (max-width: 1250px) {
	.services__info1_2 {
		top: 180px;
		font-size: 23px;
		left: 20px;
	}
}

.services__info2_1 {
	position: absolute;
	left: 100px;
	top: 0px;
    font-size: 30px;
    padding-top: 20px;
	color: rgb(255, 255, 255);
	text-shadow: rgb(255 255 255) 3px 0 10px;
}

@media all and (max-width: 1250px) {
	.services__info2_1 {
		font-size: 23px;
		left: 20px;
	}
}

.services__info2_2 {
	position: absolute;
	left: 100px;
	top: 200px;
    font-size: 30px;
    padding-top: 20px;
	color: rgb(255, 255, 255);
	text-shadow: rgb(255 255 255) 3px 0 10px;
}

@media all and (max-width: 1250px) {
	.services__info2_2 {
		top: 170px;
		font-size: 23px;
		left: 20px;
	}
}

.services__info3_1 {
	position: absolute;
	left: 80px;
	top: 0;
    font-size: 30px;
    padding-top: 20px;
	color: rgb(255, 255, 255);
	text-shadow: rgb(255 255 255) 3px 0 10px;
	text-align: center;
}

@media all and (max-width: 1250px) {
	.services__info3_1 {
		top: 0px;
		font-size: 23px;
		left: 8px;
	}
}

.services__info3_2 {
	position: absolute;
	height: 120px;
	width: 100%;
	background-color: rgb(101, 138, 202, 0.7);
	top: 170px;
	text-align: center;
	padding-top: 10px;
	font-size: 30px;
}

@media all and (max-width: 1250px) {
	.services__info3_2 {
		height: 90px;
		top: 135px;
		font-size: 23px;
		left: 0px;
	}
}

.services__info4_1 {
	position: absolute;
	left: 80px;
	top: 0;
    font-size: 30px;
    padding-top: 20px;
	color: rgb(255, 255, 255);
	text-shadow: rgb(255 255 255) 3px 0 10px;
	text-align: center;
}

@media all and (max-width: 1250px) {
	.services__info4_1 {
		top: 0px;
		font-size: 23px;
		left: 8px;
	}
}

.services__info4_2 {
	position: absolute;
	height: 120px;
	width: 100%;
	background-color: rgb(91, 189, 107, 0.7);
	top: 170px;
	text-align: center;
	padding-top: 10px;
	font-size: 30px;
}

@media all and (max-width: 1250px) {
	.services__info4_2 {
		height: 90px;
		top: 135px;
		font-size: 23px;
		left: 0px;
	}
}

.bt1 {
	position: absolute;
	left: 200px;
	top: 300px;
    font-size: 30px;
	background-color: rgb(202, 35, 35);
	color: rgb(255, 255, 255);
	text-shadow: rgb(255 255 255) 3px 0 10px;
	border: 3px solid rgb(219, 50, 50);
	border-radius: 10px;
	transition: .2s;
}

@media all and (max-width: 1250px) {
	.bt1 {
		top: 270px;
		left: 100px;
	}
}


.bt1:hover {
	box-shadow: 0px 0px 5px 5px rgb(211, 80, 76);
}

.bt2 {
	position: absolute;
	left: 200px;
	top: 300px;
    font-size: 30px;
	background-color: rgb(202, 35, 35);
	color: rgb(255, 255, 255);
	text-shadow: rgb(255 255 255) 3px 0 10px;
	border: 3px solid rgb(219, 50, 50);
	border-radius: 10px;
	transition: .2s;
}

@media all and (max-width: 1250px) {
	.bt2 {
		top: 264px;
		left: 100px;
	}
}


.bt2:hover {
	box-shadow: 0px 0px 5px 5px rgb(211, 80, 76);
}

.bt3 {
	position: absolute;
	left: 200px;
	top: 320px;
    font-size: 30px;
	background-color: rgb(202, 35, 35);
	color: rgb(255, 255, 255);
	text-shadow: rgb(255 255 255) 3px 0 10px;
	border: 3px solid rgb(219, 50, 50);
	border-radius: 10px;
	transition: .2s;
}

@media all and (max-width: 1250px) {
	.bt3 {
		top: 250px;
		left: 100px;
	}
}


.bt3:hover {
	box-shadow: 0px 0px 5px 5px rgb(211, 80, 76);
}

.bt4 {
	position: absolute;
	left: 200px;
	top: 320px;
    font-size: 30px;
	background-color: rgb(202, 35, 35);
	color: rgb(255, 255, 255);
	text-shadow: rgb(255 255 255) 3px 0 10px;
	border: 3px solid rgb(219, 50, 50);
	border-radius: 10px;
	transition: .2s;
}

@media all and (max-width: 1250px) {
	.bt4 {
		top: 250px;
		left: 100px;
	}
}

.bt4:hover {
	box-shadow: 0px 0px 5px 5px rgb(211, 80, 76);
}
